<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd"

       default-lazy-init="true">


    <context:annotation-config/>

    <!--<bean id="parentBean" class="ru.gds.Simple.SimpleBean" p:age="25" p:name="Vova"/>-->
    <!--<bean id="childBean" class="ru.gds.Simple.SimpleBean" p:age="40" parent="parentBean"/>-->

    <bean id="sb1" class="ru.gds.Simple.SimpleBean"
          init-method="init" destroy-method="destroys" p:name="Chris Schaefer" p:age="32"/>
    <bean id="sb2" class="ru.gds.Simple.SimpleBean"
          init-method="init" destroy-method="destroys" p:age="32"/>
    <bean id="sb3" class="ru.gds.Simple.SimpleBean"
          init-method="init" destroy-method="destroys" p:name="Chris Schaefer"/>


    <!--FACTORY-->
    <bean id="shaDigest" class="ru.gds.factory.MessageDigestFactoryBean" p:algorithmName="MD5"/>
    <bean id="defaultDigest" class="ru.gds.factory.MessageDigestFactoryBean"/>

    <bean id="digester" class="ru.gds.factory.MessageDigester"
          p:digestl-ref="shaDigest"
          p:digest2-ref="defaultDigest"/>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"
          p:basenames-ref="basename"/>

    <util:list id="basename">
        <value>labels</value>
    </util:list>

</beans>